@model IEnumerable<AspIT_Voting.Web.Models.FoodSuggestion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-controller="Home" asp-action="Index">Tilbage til forsiden</a>

<h1>Inspiration til fredagens ret</h1>

<p>
    <a asp-action="Create">Opret ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodSuggestionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodSuggestionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodSuggestionId">Rediger</a> |
                <a asp-action="Details" asp-route-id="@item.FoodSuggestionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodSuggestionId">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-controller="Home" asp-action="Index">Tilbage til forsiden</a>
