@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "ListRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListRoles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" asp-controller="Home" asp-action="CreateRole">Opret ny rolle</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post" class="row">
                    <div class="editDiv">
                        <a asp-controller="Home" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Rediger</a>
                    </div>

                    <div class="text-center confirmDeleteDiv hide" id="confirmDeleteDiv_@role.Id">
                        <span>Er du sikker på at du vil slette?</span>
                        <div>
                            <input type="submit" value="Ja" class="btn btn-danger" />
                            <a href="#" class="btn btn-primary" data-id="@role.Id">Nej</a>
                        </div>
                    </div>

                    <div class="deleteDiv" id="deleteDiv_@role.Id">
                        <a href="#" class="btn btn-danger" data-id="@role.Id">Slet</a>
                    </div>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Ingen roller oprettet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Brug knappen til at oprette roller
            </h5>
            <a class="btn btn-primary" asp-controller="Home" asp-action="CreateRole">
                Opret roller
            </a>
        </div>
    </div>
}


<a asp-action="Index">Tilbage til forsiden</a>