@inject UserManager<ApplicationUser> userManager
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "ListUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Index">Tilbage til forsiden</a>

<h1>Admin/Brugere</h1>

@if (Model.Any())
{
    if (User.IsInRole("Super Admin"))
    {
        <a asp-controller="Home" asp-action="AdminRegister" class="btn btn-primary mb-3">Tilføj ny admin</a>
    }

    <a asp-controller="Home" asp-action="UserRegister" class="btn btn-primary mb-3">Tilføj ny bruger</a>

    <h2>Admin</h2>
    <div class="row">
        @{
            foreach (var user in Model)
            {
                if (await userManager.IsInRoleAsync(user, "Admin"))
                {
                    <div class="mb-3 col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">@user.UserName</h5>
                            </div>
                            @if (User.IsInRole("Super Admin"))
                            {
                                <div class="card-footer">
                                    <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post" class="row justify-content-center">
                                        <div class="editDiv">
                                            <a asp-controller="Home" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary">Rediger</a>
                                        </div>

                                        <div class="text-center confirmDeleteDiv hide" id="confirmDeleteDiv_@user.Id">
                                            <span>Er du sikker på at du vil slette?</span>
                                            <div>
                                                <input type="submit" value="Ja" class="btn btn-danger" />
                                                <a href="#" class="btn btn-primary" data-id="@user.Id">Nej</a>
                                            </div>
                                        </div>

                                        <div class="deleteDiv" id="deleteDiv_@user.Id">
                                            <a href="#" class="btn btn-danger" data-id="@user.Id">Slet</a>
                                        </div>
                                    </form>
                                </div>
                            }

                        </div>
                    </div>
                }
            }
        }
    </div>
    <hr>

    var graduatedUser = ApplicationUser.GetGraduatedUser(Model);

    if (Model.Any(d => d.GraduationDate <= DateTime.Now))
    {
        <h2>Bruger der er dimitteret</h2>
        <div class="row">
            @{
                foreach (var user in graduatedUser)
                {
                    if (await userManager.IsInRoleAsync(user, "Bruger"))
                    {
                        <div class=" mb-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Brugernavn: @user.UserName</h5>
                                    <h5 class="card-title">Navn: @user.FullName</h5>
                                    <h5 class="card-title">Dimission: @Html.DisplayFor(modelItem => user.GraduationDate)</h5>
                                </div>
                                <div class="card-footer">
                                    <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post" class="row">
                                        <div class="editDiv">
                                            <a asp-controller="Home" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary">Rediger</a>
                                        </div>

                                        <div class="text-center confirmDeleteDiv hide" id="confirmDeleteDiv_@user.Id">
                                            <span>Er du sikker på at du vil slette?</span>
                                            <div>
                                                <input type="submit" value="Ja" class="btn btn-danger" />
                                                <a href="#" class="btn btn-primary" data-id="@user.Id">Nej</a>
                                            </div>
                                        </div>

                                        <div class="deleteDiv" id="deleteDiv_@user.Id">
                                            <a href="#" class="btn btn-danger" data-id="@user.Id">Slet</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <hr>
    }

    var unGraduatedUser = ApplicationUser.GetUnGraduatedUser(Model);

    <h2>Bruger</h2>
    <div class="row">
        @{
            foreach (var user in unGraduatedUser)
            {
                if (await userManager.IsInRoleAsync(user, "Bruger"))
                {
                    <div class=" mb-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Brugernavn: @user.UserName</h5>
                                <h5 class="card-title">Navn: @user.FullName</h5>
                                <h5 class="card-title">Dimission: @Html.DisplayFor(modelItem => user.GraduationDate)</h5>
                            </div>
                            <div class="card-footer">
                                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post" class="row">
                                    <div class="editDiv">
                                        <a asp-controller="Home" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary">Rediger</a>
                                    </div>

                                    <div class="text-center confirmDeleteDiv hide" id="confirmDeleteDiv_@user.Id">
                                        <span>Er du sikker på at du vil slette?</span>
                                        <div>
                                            <input type="submit" value="Ja" class="btn btn-danger" />
                                            <a href="#" class="btn btn-primary" data-id="@user.Id">Nej</a>
                                        </div>
                                    </div>

                                    <div class="deleteDiv" id="deleteDiv_@user.Id">
                                        <a href="#" class="btn btn-danger" data-id="@user.Id">Slet</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            Ingen bruger/Admin er oprettet endnu
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Brug denne knap til at tilføj ny bruger/Admin
            </h5>
            <a class="btn btn-primary" asp-action="AdminRegister">Tilføj ny bruger/Admin</a>
        </div>
    </div>
}

<a asp-action="Index">Tilbage til forsiden</a>