@using AspIT_Voting.Web.Other
@model List<FoodViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Tilbage til forsiden</a>
</p>

<h1>Fredagens ret</h1>

@{

    var date = new Date();

    DayOfWeek monday = DayOfWeek.Monday;
    DayOfWeek tuesday = DayOfWeek.Tuesday;
    DayOfWeek wednesday = DayOfWeek.Wednesday;
    DayOfWeek thursday = DayOfWeek.Thursday;
    DayOfWeek today = DateTime.Today.DayOfWeek;

    @if (date.GetWeekOfYear() % 2 == 0 && DateTime.Now.Hour >= 8 && monday <= today && today <= tuesday && DateTime.Now.Hour <= 15)
    {
        <p>
            <a asp-action="Create">Opret ny</a>
        </p>
    }

    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="row">
            @if (date.GetWeekOfYear() % 2 == 0 && DateTime.Now.Hour >= 8 && wednesday <= today && today <= thursday && DateTime.Now.Hour <= 15)
            {
                <form asp-action="Vote" method="post" class="voteForm">
                    <div class="form-check">
                        <input type="hidden" asp-for="@Model[i].FoodId" />
                        <input type="hidden" asp-for="@Model[i].FoodName" />
                        <input type="hidden" name="Index" value="@i" /> @*Multiple forms submit*@
                        <input asp-for="@Model[i].IsThumbsUp" class="form-check-input thumbsUpInput" />
                        <label asp-for="@Model[i].IsThumbsUp" class="thumbsUpLabel">
                            <img src="~/images/thumbs-up-solid.svg" alt="thumbsUp" />
                        </label>
                    </div>
                </form>
            }
            <div class="ml-2">
                @Model[i].FoodName
            </div>
        </div>
    }
}

<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Tilbage til forsiden</a>
</p>